$medida-fuente:18px;
/* $primary-color: pink; */

@import 'colors';  
@import 'mixins'

body {
    font-size: 14px; 
    
}
p{
    font-size: $medida-fuente;
    color: $primary-color;
}
@import 'movie_info';
